h1 {
    color: blue;
}

body {
    background: pink;
    text-align: center;
}

.square {
    display: flex;
    height: 100%;
    width: 100%;
    background: grey;
    border: 1px solid black;

}

.board {
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
    overflow: hidden;
}

.boards-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.ship-four {
    height: 23px;
    width: 23px;
    background: blue;
    border: 1px solid black;
    z-index: 0;

}

.ship {
    display: flex;
    flex-direction: column;
    z-index: 0;
    height: fit-content;
}