html,
body {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

h1 {
    font-size: 2rem;
    color: blue;
}

h3 {
    font-size: 2rem;
}

body {
    background: pink;
    text-align: center;
}

#message-box {
    font-size: 1.5rem;
    width: 70%;
    margin: 0 auto;
    border: 1px solid blue;
    padding: 10px;
    background: gray;
    color: rgb(136, 231, 121);
}

.square {
    display: flex;
    height: 100%;
    width: 100%;
    background: grey;
    border: 1px solid black;

}

.board {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
    overflow: hidden;
}

.boards-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.ship-four {
    height: 20px;
    width: 20px;
    background: blue;
    border: 1px solid black;
    z-index: 0;

}

.hit {
    background-color: red;
}

.miss {
    background-color: yellow;
}

.ship {
    display: flex;
    flex-direction: column;
    z-index: 0;
    height: fit-content;
}

button {
    margin: 10px;
    min-width: 90px;
}

#setup-btns {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#start {
    font-size: 20px;
    padding: 10px;
}

.placed-ship {
    height: 23px;
    width: 23px;
    background: rgb(49, 231, 21);
    border: 1px solid black;

}

.hide {
    display: none !important;
}